.list {
list-style: square;
font-size: 200%;
color: #F2B254;
}

.white {
font-family: Calibri-Body;
font-size: 26pt;
color: #FFFFFF;
}

.box {
font-family: Consolas;
padding: 10px;
margin-left: 17px;
margin-right: 55px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #20201E;
color: #F8EBC7;
border: 1px solid #747065;
font-size: 17pt;
}

h1 {
font-family: Calibri (Headings);
font-size: 30pt;
color: #F3BE60;
}
